{% extends 'main/base.html' %}
{% block title %}
    Delete
{% endblock title %}
{% block body %}
    <div class="features">
        <h1>Delete: </h1>
        <form method="post" action="">
            {% csrf_token %}
            <!--
            <input type="text" placeholder="Title" class="form-control" required><br>
            <input type="text" placeholder="Anons" class="form-control" required><br>
            <textarea class="form-control" placeholder="Text of an article" required></textarea><br>
            <input type="date" class="form-control" required><br>
            <input type="time" class="form-control" required><br>
            -->
            {% if user.username == 'mykyta' %}
            <button class="btn btn-success" type="submit">Delete an article</button>
            {% else %}
            <h1>No permission</h1>
            {% endif %}
        </form>
    </div>
{% endblock body %}