{% extends 'main/base.html' %}
{% block title %}
    Certificates
{% endblock title %}
{% block body %}
<div class="features">
    <h1>Certificates</h1>
    <h1>{{ try_1 }}</h1>
</div>
{% if certificate %}
{% for el in certificate %}
    <div class="container">
        <p>Name: {{ el.name_surname }}</p>
        <p>Course: {{ el.course_name }}</p>
        <p>Id: {{ el.id }}</p>
        <a href="{% url 'certificate_detail' el.id %}"><button class="btn btn-warning">Look through</button></a>
        <hr>
    </div>
    <br>
{% endfor %}
{% else %}
    <div class="container">
        <p> No info </p>
    </div>
{% endif %}
{% endblock body %}