{% extends 'main/base.html' %}
{% block title %}
    Create a contact
{% endblock title %}
{% block body %}
    {% if user.username == 'mykyta' %}
    <div class="features">
        <h1>Form to add a new contact</h1>
        <form method="post" action="">
            {% csrf_token %}
            {% if user.username == 'mykyta' %}
            {{ form.email }}<br>
            {{ form.telegram }}<br>
            {{ form.phone_number }}<br>
            {% endif %}
            <span>{{error}}</span>
            <!--
            <input type="text" placeholder="Title" class="form-control" required><br>
            <input type="text" placeholder="Anons" class="form-control" required><br>
            <textarea class="form-control" placeholder="Text of an article" required></textarea><br>
            <input type="date" class="form-control" required><br>
            <input type="time" class="form-control" required><br>
            -->
            <button class="btn btn-success" type="submit">Add a contact</button>
        </form>
    </div>
    {% else %}
    <div class="features">
        <h1>No permission.</h1>
    </div>
    {% endif %}
{% endblock body %}