{% extends 'main/base.html' %}
{% block title %}
    Certificate {{ certificate.id }}
{% endblock title %}
{% block body %}
    <div class="features">
        <h1>{{ certificate.name_surname }}</h1>
        <p>{{ certificate.date }}</p>
        <p>{{ certificate.course_name }}</p>
        <p>{{ certificate.place }}</p>
        <p>{{ certificate.course_director }}</p>
        <form action="" method="POST">
            {% csrf_token %}
            <button name="Get" class="btn btn-warning">Get PDF</button>
        </form>
    </div>
{% endblock body %}